/* CSS reset*/
/*******************************/
* {
	margin: 0px;
	padding: 0px;
}
/*******************************/
html {
	height: 100%;
}
body {
	background: url('https://server.martens.me/indysix/img/bg.png');
	color: #333;
	font-size: 14px;
	line-height: 130%;
	font-family: Arial, Helvetica, sans-serif;
	max-width: 1000px;
	padding: 10px 40px;
	margin: 0 auto;
	height: 100%;
}

a {
	text-decoration: none;
	color: #cf5c3f;
}

#header img {
	height: 100%;
	max-height: 120px;
	width:auto;
}

/* cssmenu */
#cssmenu ul,
#cssmenu li,
#cssmenu a {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 1;
	font-family: 'Lato', sans-serif;
}
#cssmenu {
	border: 1px solid #525252;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	width: auto;
	margin-bottom: 15px; 
}
#cssmenu ul {
	zoom: 1;
	background: #9f9f9f;
	background: -moz-linear-gradient(top, #9f9f9f 0%, #858585 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9f9f9f), color-stop(100%, #858585));
	background: -webkit-linear-gradient(top, #9f9f9f 0%, #858585 100%);
	background: -o-linear-gradient(top, #9f9f9f 0%, #858585 100%);
	background: -ms-linear-gradient(top, #9f9f9f 0%, #858585 100%);
	background: linear-gradient(top, #9f9f9f 0%, #858585 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top-color', endColorstr='@bottom-color', GradientType=0);
	padding: 5px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
#cssmenu ul:before {
content: '';
display: block;
}
#cssmenu ul:after {
	content: '';
	display: table;
	clear: both;
}
#cssmenu li {
	float: left;
	margin: 0 5px 0 0;
	border: 1px solid transparent;
}
#cssmenu li a {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	padding: 8px 15px 9px 15px;
	display: block;
	text-decoration: none;
	color: #ffffff;
	border: 1px solid transparent;
	font-size: 16px;
}
#cssmenu li.active {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #9f9f9f;
}
#cssmenu li.active a {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	display: block;
	background: #6c6c6c;
	border: 1px solid #525252;
	-moz-box-shadow: inset 0 5px 10px #525252;
	-webkit-box-shadow: inset 0 5px 10px #525252;
	box-shadow: inset 0 5px 10px #525252;
}
#cssmenu li:hover {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #9f9f9f;
}
#cssmenu li:hover a {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	display: block;
	background: #6c6c6c;
	border: 1px solid #525252;
	-moz-box-shadow: inset 0 5px 10px #525252;
	-webkit-box-shadow: inset 0 5px 10px #525252;
	box-shadow: inset 0 5px 10px #525252;
}

#content {
	min-height: 200px;
	width: 70%;
	padding: 20px 2%;
	margin-bottom: 20px;
	float: left;
	background-color: #fff;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}

input {
	padding: 6px 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

label {
	width: 70px;
	display: inline-block;
}

#content p {
	margin: 10px 0;
}

.videoCap {
 	position: relative;
 	max-width: 340px;
 	float: left;
 	margin: 5px;
}

.videoCap img {
	width: 100%;
	height:auto;
}

.videoCap h3 {
	position: absolute;
	width: 96%;
	padding: 2%;
	background-color:rgba(0,0,0,0.6);
	color: #fff;
}

#sidebar {
	background-color: #fff;
	width: 20%;
	padding: 20px 2%;
	margin-bottom: 20px;
	margin-right: 2%;
	float: left;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}

#sidebar div {
	width: 100%;
	float: left;
}

#sidebar ul {
	list-style: none;
	margin-top: 10px;
}

#logout {
	padding: 3px 15px;
	background-color: #cf5c3f;
	border: 1px solid #aaa;
	color: #fff;
	border-radius: 5px;
	display: inline-block;
	font-weight: bold;
}

#logout:hover {
	background-color: #ccc;
	color: #cf5c3f;
	
}

#avatar {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	border: 2px solid #ccc;
	border-radius: 5px;
}

#footer {
	clear: both;
	height: 40px;
	border: 1px solid #525252;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background: #9f9f9f;
	background: -moz-linear-gradient(top, #9f9f9f 0%, #858585 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9f9f9f), color-stop(100%, #858585));
	background: -webkit-linear-gradient(top, #9f9f9f 0%, #858585 100%);
	background: -o-linear-gradient(top, #9f9f9f 0%, #858585 100%);
	background: -ms-linear-gradient(top, #9f9f9f 0%, #858585 100%);
	background: linear-gradient(top, #9f9f9f 0%, #858585 100%);
}

#footer p {
	color: #fff;
	height: 20px;
	padding: 10px 20px;
	font-size: 12px;
}
@media only screen and (max-width: 1080px) {
	.videoCap {
		max-width: 100%;
	}
}

@media only screen and (max-width: 600px) {
	body {
		padding: 10px 10px;
	}
	
	#header img {
		max-width: 100%;
	}

	#cssmenu li{
		width: 100%;
	}

	#content, #sidebar {
		width: 96%;
	}

	#sidebar {
		width: 96%;
		margin-left: 0px;
	}

	#sidebar div {
		margin: 1%;
		width: 48%;
	}

	#sidebar ul {
		margin-top: 0px;
	}

}
